
body {
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}

.container {
    background: white;
    padding: 25px 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    display: block;
}

h1 {
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #444;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
    transition: 0.2s;
}

input:focus {
    border-color: #4a6cf7;
    box-shadow: 0 0 3px rgba(74,108,247,0.4);
}

button {
    padding: 10px;
    background: #4a6cf7;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.users{
    background: #500606;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background: #3f5bdd;
}

.users:hover {
    background: #7a1a1a;
}

#description {
    margin-top: 10px;
    font-size: 13px;
    color: #555;
    text-align: center;
    font-weight: bold;
}

table {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 12px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
